body {
    min-width:  900px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:  0;
    padding:  0;
}

h1 {
    width: 300px;
    text-align: center;
    margin: 100px auto;
}